include ../elements/panel
include ../elements/button

section#about.about.row.flex-center__x
    .section-header.col-xs-12.text-color__black Об организации

    .about-logo.col-xs-12.text-center
        img(src='img/logo.png', alt='')
    .about-description.col-xs-10.text-center
        span.about-description__bold ММОО «Студенческий союз МИРЭА»
        | &nbsp; - общественная организация, объединяющая на добровольных началах студентов и аспирантов Университета. 

    .about-panels.col-xs-10.row
        +panel("Единомышленники", "Мы объединяем в себе единомышленников со всего Московского Технологического Университета МИРЭА/МГУПИ/МИТХТ/КПИИТ. Это более 7000 единомышленников, 7 отделений в институтах, 10 структурных подразделений")(class="color-green")
        +panel("Нам 24 года", "07.05.1992 - дата создания нашего Студенческого союза.")(class="color-blue")
        +panel("Подразделения", "Мы включаем в себя многие подразделения от Профсоюза до Досугового центра, от Спортклуба до Центра Карьеры")(class="color-pink")
        +panel("Отделения", "ИТ Кибернетика ИНТЕГУ ИКБСП ИРТС ИТХТ ИУСРО Ждут тебя!")(class="color-blue__dark")

    .about-info.col-xs-10
         | Студенческий союз ведет работу по ряду направлений деятельности: социальная и правовая защита студентов, организация досуга и отдыха, подготовка кадров студенческого актива, поддержка молодежных инициатив. Студенческий союз предоставляет возможность для творческой самореализации молодежи, содействует научной работе студентов, организует и проводит спортивные мероприятия, участвует в реализации различных молодежных программ. Представители Студенческого союза входят в состав Совета по воспитательной работе, стипендиальных комиссий, Ученого совета и др.

    .about-action.col-xs-12.row.flex-center__x
        +button("Вступить", "https://vk.me/sumirea")(class="btn-colors__black")

    //--slider switches here if needed?
