include ../elements/panel

section.about.row.flex-center__x
    .about-header.col-xs-12.text-center Об организации
    .about-logo.col-xs-12.text-center
        img(src='img/logo.png', alt='')
    .about-description.col-xs-12.text-center
        span.about-description__bold ММОО Студенческий союз МИРЭА
        | &nbsp; занимается тем-то, тем-то и тем-то

    .about-panels.col-xs-10.row
        +panel("Нам #23 года", "07.05.1992 - дата создания нашего Студенческого союза. Мы объединяем в себе МИРЭА/МГУПИ/МИТХТ/КПИИТ")(class="color-green")
        +panel("Нам #23 года", "07.05.1992 - дата создания нашего Студенческого союза. Мы объединяем в себе МИРЭА/МГУПИ/МИТХТ/КПИИТ")(class="color-blue")
        +panel("Нам #23 года", "07.05.1992 - дата создания нашего Студенческого союза. Мы объединяем в себе МИРЭА/МГУПИ/МИТХТ/КПИИТ")(class="color-pink")
        +panel("Нам #23 года", "07.05.1992 - дата создания нашего Студенческого союза. Мы объединяем в себе МИРЭА/МГУПИ/МИТХТ/КПИИТ")(class="color-blue__dark")

    .about-info.col-xs-10
        | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text

    .about-action.col-xs-12.row.flex-center__x
        .btn.btn-colors__black.col-lg-2.col-md-2.col-sm-4.col-xs-4.flex.flex-center Вступить 

    //--slider switches here if needed?