include ../elements/activity-list__item

section#activity.activity.row.flex-center__x.text-color__white
    .section-header.col-xs-12 Наша деятельность

    .activity-list.col-xs-12.col-md-10.row
        +activity-list__item("Культмассовая деятельность")(icon="")
        +activity-list__item("Работа со студентами")(icon="")
        +activity-list__item("Спорт и ЗОЖ")(icon="")

        +activity-list__item("Информационная работа")(icon="")
        +activity-list__item("Хобби и общение")(icon="")
        +activity-list__item("Наука")(icon="")

    .activity-text.col-xs-8
        | Это и еще многое другое в СтудСоюзе МИРЭА