include ../elements/movements-item

section#movements.movements.row.text-color__white
    //--@TODO: add it later
    .col-xs-12.section-header Отряды

    .col-xs-12.row.flex-center__x
        +movements-item("Росспас", "Настоящие мужчины. МЧС. Другой текст, подробнее.")(bg="rosspas.jpg")
        +movements-item("Педагогический отряд Априори", "Настоящие мужчины. МЧС. Другой текст, подробнее.")(bg="apriori.jpg")
        +movements-item("Педагогический отряд Атмосфера", "Настоящие мужчины. МЧС. Другой текст, подробнее.")(bg="atmosphere.jpg")
        +movements-item("Строительный отряд", "Настоящие мужчины. МЧС. Другой текст, подробнее.")(bg="")