include ../elements/movements-item

section#movements.movements.row.text-color__white
    //--@TODO: add it later
    .col-xs-12.section-header Отряды

    .col-xs-12.row.flex-center__x
        +movements-item("Центральный спасательный отряд Всероссийского студенческого корпуса спасателей Россоюзспаса", "Стань высококлассным спасателем!", "")(bg="rosspas.jpg")
        +movements-item("Педагогический отряд Априори", "Подготовка вожатых и организация детского отдыха.", "")(bg="apriori.jpg")
        +movements-item("Открытый студенческий педагогический отряд круглогодичного действия «Атмосфера»", "Стань профессиональным вожатым!", "")(bg="atmosphere.jpg")
        +movements-item("Строительный отряд", "Стань мастером на все руки!", "")(bg="stroiteli.jpg", "")
        +movements-item("Профориентационный отряд «Вектор»", "Узнай всё о вузе и помоги привлечь абитуриентов!", "")(bg="")
        +movements-item("Социальный отряд круглогодичного действия «МИР»", "Если благотворительность — твоя стихия, то тебе в «МИР»!", "")(bg="mir.jpg")
        +movements-item("Поисково-археологический отряд", "Раскопки, выезды, походы - это здесь", "")(bg="")
