include ../elements/teams-list__item
    
section#teams.teams.row.flex-center__x.text-color__white
    .section-header.col-xs-12 Подразделения
        
    .teams-list.col-xs-12.col-md-10.row.flex-center__x
        +teams-list__item("Профсоюз студентов")(icon="user", bg="img/teams/profkom.jpg")
        +teams-list__item("Инфоцентр")(icon="info", bg="img/teams/mireadev.jpg")
        +teams-list__item("Разработка")(icon="desktop", bg="img/teams/mireadev.jpg")
        +teams-list__item("Досуговый центр")(icon="lightbulb", bg="img/teams/profkom.jpg")

        +teams-list__item("Спортивный клуб")(icon="soccer-ball", bg="img/teams/soccer.jpg")
        +teams-list__item("Наука")(icon="beaker", bg="img/teams/science.jpg")
        +teams-list__item("Центр карьеры")(icon="chart-line", bg="img/teams/work.jpg")
        +teams-list__item("Волонтерский центр")(icon="heart", bg="img/teams/team.jpg")

        +teams-list__item("Общий отдел")(icon="doc-text", bg="img/teams/mireadev.jpg")
        +teams-list__item("Клуб интересов")(icon="fire", bg="img/teams/profkom.jpg")

    .teams-text.col-xs-8
        | Присоединяйся к любому из них!