include ../elements/teams-list__item
    
section#teams.teams.row.flex-center__x.text-color__white
    .section-header.col-xs-12 Подразделения
        
    .teams-list.col-xs-12.col-md-10.row.flex-center__x
        +teams-list__item("Профсоюз студентов")(icon="user")
        +teams-list__item("Инфоцентр")(icon="info")
        +teams-list__item("Разработка")(icon="desktop")
        +teams-list__item("Досуговый центр")(icon="lightbulb")

        +teams-list__item("Спортивный клуб")(icon="soccer-ball")
        +teams-list__item("Наука")(icon="beaker")
        +teams-list__item("Центр карьеры")(icon="chart-line")
        +teams-list__item("Волонтерский центр")(icon="heart")

        +teams-list__item("Общий отдел")(icon="doc-text")
        +teams-list__item("Клуб интересов")(icon="fire")

    .teams-text.col-xs-8
        | Присоединяйся к любому из них!