include ../elements/button

.nav-mobile.row.visible-xs

section#video.video.row.flex-center__x
    .video-overlay
    .video-object
        video.video-object__media.hidden-xs(autoplay='autoplay', loop='loop', preload='auto')
            source(src='video/test-back.mp4')

    .video-nav.video-nav__desktop.col-xs-12.col-lg-10.row.hidden-xs.flex-y__start
        .col-xs-12.row.flex-center__y.between-xs
            .video-nav__logo.col-md-2.hidden-sm МИРЭА
            .video-nav__menu--wrap.col-xs-12.col-md-10
                ul.video-nav__menu.flex.between-xs
                    li
                        a(href="#about").scroll Об организации
                    li
                        a(href="#activity").scroll Наша деятельность
                    li
                        a(href="#teams").scroll Подразделения
                    li
                        a(href="#projects").scroll Наши проекты
                    li
                        a(href="#movements").scroll Отряды

    .video-action.col-xs-12.row.flex-center__x
        +button("Смотреть")(class="btn-colors__white")
