section#video.video.row.flex-center__x
    .video-overlay
    .video-object
        video.video-object__media(autoplay='autoplay', loop='loop', preload='auto')
            source(src='video/test-back.mp4')

    .video-nav.video-nav__desktop.col-xs-12.col-lg-10.row.hidden-xs.flex-top
        .col-xs-12.row.flex-center__y.between-xs
            .video-nav__logo.col-md-2.hidden-sm МИРЭА
            .video-nav__menu--wrap.col-xs-12.col-md-10
                ul.video-nav__menu.flex.between-xs
                    li
                        a(href="#about").scroll Об организации
                    li
                        a(href="#activity").scroll Наша деятельность
                    li
                        a(href="#teams").scroll Подразделения
                    li
                        a(href="#projects").scroll Наши проекты
                    li
                        a(href="#movements").scroll Отряды

    .video-nav.video-nav__mobile.col-xs-12.row.visible-xs
        //--mobile menu here

    .video-action.col-xs-12.row.flex-center__x
        .btn.btn-colors__white.col-lg-2.col-md-2.col-sm-4.col-xs-4.flex.flex-center Смотреть

//
    section#trailer.is_overlay

        nav.navbar.navbar-default
            .container
                .row
                    // Brand and toggle get grouped for better mobile display
                    .col-xs-5
                    .col-xs-4
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                    // -- col-xs-4 --
                    .col-xs-3
                // - row -
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right.topHiddenMenu
                        li
                            a(href='#') Об организации
                        li
                            a(href='#') Наша деятельность
                        li
                            a(href='#') Подразделения
                        li
                            a(href='#') Наши проекты
                        li
                            a(href='#') Отряды
                // /.navbar-collapse
            // /.container-fluid

    section.container.main-page
        .row.top-menu.hidden-xs
            .col-lg-4.col-md-4.top-menu__logo.col-sm-0.hidden-sm.hidden-xs  МИРЭА
            .col-lg-8.col-md-8.col-sm-12.top-menu__menu
                ul.top-menu__nav
                    li
                        a Отряды
                    li
                        a Наша деятельность
                    li
                        a Подразделения
                    li
                        a Наши проекты
                    li
                        a Об организации