mixin movements-item(title, text)
    - var bgImg = "img/movements/" + attributes.bg
    .col-xs-8.movements-item.flex.flex-center.flex-column(style="background: url(" + bgImg + ") center no-repeat #000000")
        .movements-item__title= title
        .movements-item__text= text