mixin movements-item(title, text)
    .col-xs-8.movements-item.flex.flex-center.flex-column(style="background: url(" + attributes.bg + ") center no-repeat #000000")
        .movements-item__title= title
        .movements-item__text= text