include projects-list__item--content

mixin projects-list__item(title, hideIcon)
    if attributes.flexAlign
        .flex(class!=attributes.flexAlign)
            +projects-list__item--content(title, attributes.icon, attributes.size, hideIcon)(bg=attributes.bg)
    else
        .col-md-2
            +projects-list__item--content(title, attributes.icon, attributes.size, hideIcon)(bg=attributes.bg)