include projects-list__item--content

mixin projects-list__item(title, hideIcon)
    - var bgImg = "img/projects/" + attributes.bg
    if attributes.flexClass
        .flex.flex-center__y(class!=attributes.flexClass)
            +projects-list__item--content(title, attributes.icon, attributes.size, hideIcon)(bg=bgImg)
    else
        .flex.flex-y__end.col-md-2(class!="flex-x__" + attributes.flexAlign)
            +projects-list__item--content(title, attributes.icon, attributes.size, hideIcon)(bg=bgImg)