.about-action__btn
  text-align: center;
  color: black;
  font-size: 16px;
  margin-top: 5%;
  margin-left: 0 auto;
  font-family: LR;
  padding: 6 10 6 10;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;