html
    html(lang='ru')
        include head
        body
            div.wrap
                //video section
                include sections/video

                //about
                include sections/about

                //activity
                include sections/activity

                //teams
                include sections/teams

                //projects
                include sections/projects

                //movements
                include sections/movements

            //---Scripts
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
            script(src='js/jquery.min.js')
            script(src='js/js.min.js')
