html
    html(lang='ru')
        include head
        body
            div.wrap
                //video section
                include sections/video

                //about
                include sections/about

                //activity
                include sections/activity

                //teams
                include sections/teams

                //projects
                include sections/projects

                //movements
                include sections/movements

            //---Scripts
            include scripts
