.projects-list__item--size1
  width 25vh
  height 25vh

.projects-list__item--size2
  width 22vh
  height 22vh

.projects-list__item--size3
  width 19vh
  height 19vh

.projects-list__item--size4
  width 16vh
  height 16vh