.projects-list__item--size1
  width 35vh
  height 35vh

.projects-list__item--size2
  width 27vh
  height 27vh

.projects-list__item--size3
  width 23vh
  height 23vh

.projects-list__item--size4
  width 19vh
  height 19vh