.projects-list__item--size1
  width 35vh
  height 35vh

  .projects-list__item--title
    font-size 32px

.projects-list__item--size2
  width 27vh
  height 27vh

  .projects-list__item--icon
    font-size 36px

  .projects-list__item--title
    font-size 22px

.projects-list__item--size3
  width 23vh
  height 23vh

  .projects-list__item--icon
    font-size 30px

  .projects-list__item--title
    font-size 16px

.projects-list__item--size4
  width 19vh
  height 19vh

  .projects-list__item--icon
    font-size 24px